*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}
html,body{
    height: 100%;
    width: 100%;
}
main{
    height: 100%;
    width: 100%;
    background-color: rgb(69, 69, 69);
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;

    h1{
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: larger;
        text-align: center;
        margin-top: 10px;
    }

    .card{
        height: 400px;
        width: 80%;
        background-color: grey;
        display: flex;
        margin: auto;
        gap: 4px;
        border-radius: 5px;

        .black{
            height: 65%;
            width: 80%;
            background-color: black;
            display: flex;
            align-items: end;
            justify-content: center;
            border-radius: 0 0 5px 5px;
        }
    }
    .card > *{
            height: 100%;
            width: 75px;
            background-color: white;
            color: black;
            border-radius: 0 0 5px 5px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: column-reverse;

        }

}